/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px; /* Tamaño de letra más pequeño para dispositivos móviles */
        padding: 0%;
        margin: 0%;
        background-image: url('../img/FondoGeneral.jpg');
        background-size: cover;
        background-position: center; 
    }
    /* cabecera de la pagian*/
    header{
        color: aliceblue;
        background-image: url('../img/CieloHeader.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        text-align: center;
        padding: 10px;
    }

    .nav{
        padding: 3px;
        margin:-10px;
    }
    .nav a{
        font-weight: bold; /* Poner el texto en negrita */
        display: inline;
        margin-right: 12px;
        color: aliceblue;
    }
    /* hasta aqui cabecera*/

    #presentacion h2{
       text-align: center;
       text-decoration: underline;
    }
    #presentacion p{
        text-align: center;
     }

    .boton-descarga{
        border: solid blue;
        padding: 5px;
        background-color: blue;
        color: aliceblue;
     }

     img{
        width: 30vw;
     }

    /* footer*/
    footer{
        margin-top: 38px;
        padding: 5px;
        background-color: red;
        text-align: center;
    }
    /* footer*/
    #contimagen {
        text-align: center;
        margin: 0 auto; /* Center the div horizontally */
    }
    
    #imagen {

        width: 338px;
        height: 338px;
        margin: 60px;
        margin-top: 100px;
        border: 3px solid red;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 18px; 
        padding: 0%;
        margin: 0%;
        background-image: url('../img/FondoGeneral.jpg');
        background-size: cover;
        background-position: center; 
    }
    header{
        color: aliceblue;
        background-image: url('../img/CieloHeader.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        text-align: center;
        padding: 10px;
    }

    .nav{
        padding: 3px;
        margin:-10px;
    }
    .nav a{
        font-weight: bold; /* Poner el texto en negrita */
        display: inline;
        margin-right: 12px;
        color: aliceblue;
    }
    #presentacion h2{
        text-decoration: underline;
        text-align: center;
     }
     #presentacion p{
         text-align: center;
      }
 
     .boton-descarga{
         border: solid blue;
         padding: 5px;
         background-color: blue;
         color: aliceblue;
      }
 
     /* footer*/
     footer{
        margin-top: 99px;
         padding: 5px;
         background-color: red;
         text-align: center;
     }
     /* footer*/
     #contimagen {
        text-align: center;
        margin: 0 auto; /* Center the div horizontally */
    }
    
    #imagen {

        width: 338px;
        height: 338px;
        margin: 60px;
        margin-top: 100px;
        border: 3px solid red;
    }
 }
/*Ordenador*/
 @media (min-width: 1025px) {
 
    body {
        font-size: 18px; /* Tamaño de letra más pequeño para dispositivos móviles */
        padding: 0%;
        margin: 0%;
        background-image: url('../img/FondoGeneral.jpg');
        background-size: cover;
        background-position: center; 
    }
    header{
        color: aliceblue;
        background-image: url('../img/CieloHeader.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        text-align: center;
        padding: 10px;
    }

    .nav{
        padding: 3px;
        margin:-10px;
    }
    .nav a{
        font-weight: bold; /* Poner el texto en negrita */
        display: inline;
        margin-right: 12px;
        color: aliceblue;
    }
    #presentacion h2{
        text-decoration: underline;
        text-align: center;
     }
     #presentacion p{
         text-align: center;
      }
 
     .boton-descarga{
        border: solid blue;
        padding: 5px;
        background-color: blue;
        color: aliceblue;
      }
 
     /* footer*/
     footer{
         margin-top: 172px;
         padding: 5px;
         background-color: red;
         text-align: center;
     }
     /* footer*/
     #contimagen {
        text-align: center;
        margin: 0 auto; /* Center the div horizontally */
    }
    
    #imagen {

        width: 338px;
        height: 338px;
        margin: 60px;
        margin-top: 100px;
        border: 3px solid red;
    }
    #presentacion ol {
        text-align: left;
        padding-left: 0;
        list-style-position: inside;
    }
    
    #presentacion li {
        text-align: center;
        margin-bottom: 10px;
    }
    
 }



