/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px; /* Tamaño de letra más pequeño para dispositivos móviles */
        padding: 0%;
        margin: 0%;
        background-image: url('../img/FondoGeneral.jpg');
        background-size: cover;
        background-position: center; 
    }
    /* cabecera de la pagian*/
    header{
        color: aliceblue;
        background-image: url('../img/CieloHeader.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        text-align: center;
        padding: 10px;
    }

    .nav{
        padding: 3px;
        margin:-10px;
    }
    .nav a{
        font-weight: bold; /* Poner el texto en negrita */
        display: inline;
        margin-right: 12px;
        color: aliceblue;
    }
    /* hasta aqui cabecera*/
    h2{
        text-align: center;
        text-decoration: underline;
    }
    .indice nav{
        text-align: center;
    }
    nav a{
        padding: 5px;
    }
    p{
        text-align: center;
        margin: 10px;
    }
    /* footer*/
    footer{
        margin-top: 251px;
        padding: 5px;
        background-color: red;
        text-align: center;
    }
    /* footer*/
    #contenedorimagenes {
        text-align: center;
        margin: 0 auto; /* Center the div horizontally */
    }
    
    img {

        width: 300px;
        margin-top: 100px;
        margin-bottom: -100px;

        border: 3px solid red;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 18px;
        padding: 0%;
        margin: 0%;
        background-image: url('../img/FondoGeneral.jpg');
        background-size: cover;
        background-position: center; 
    }
    /* cabecera de la pagian*/
    header{
        color: aliceblue;
        background-image: url('../img/CieloHeader.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        text-align: center;
        padding: 10px;
    }

    .nav{
        padding: 3px;
        margin:-10px;
    }
    .nav a{
        font-weight: bold; /* Poner el texto en negrita */
        display: inline;
        margin-right: 12px;
        color: aliceblue;
    }
    /* hasta aqui cabecera*/
    h2{
        text-align: center;
        text-decoration: underline;
    }
    .indice nav{
        text-align: center;
    }
    nav a{
        padding: 5px;
    }
    p{
        text-align: center;
        margin: 10px;
    }
    /* footer*/
    footer{
        margin-top: 259px;
        padding: 5px;
        background-color: red;
        text-align: center;
    }
    /* footer*/
    #contenedorimagenes {
        text-align: center;
        margin: 0 auto; /* Center the div horizontally */
    }
    
    img {

        width: 600px;
        margin-top: 100px;
        margin-bottom: -100px;

        border: 3px solid red;
    }
}

/*Ordenador*/
@media (min-width: 1025px) {

    body {
        font-size: 18px;
        padding: 0%;
        margin: 0%;
        background-image: url('../img/FondoGeneral.jpg');
        background-size: cover;
        background-position: center; 
    }
    /* cabecera de la pagian*/
    header{
        color: aliceblue;
        background-image: url('../img/CieloHeader.jpg'); /* Ruta de tu imagen de fondo */
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        text-align: center;
        padding: 10px;
    }

    .nav{
        padding: 3px;
        margin:-10px;
    }
    .nav a{
        font-weight: bold; /* Poner el texto en negrita */
        display: inline;
        margin-right: 12px;
        color: aliceblue;
    }
    /* hasta aqui cabecera*/
    h2{
        text-align: center;
        text-decoration: underline;
    }
    .indice nav{
        text-align: center;
    }
    nav a{
        padding: 5px;
    }
    p{
        text-align: center;
        margin: 10px;
    }
    /* footer*/
    footer{
        margin-top: 290px;
        padding: 5px;
        background-color: red;
        text-align: center;
    }
    /* footer*/
    #contenedorimagenes {
        text-align: center;
        margin: 0 auto; /* Center the div horizontally */
    }
    
    img {

        width: 600px;
        margin-top: 100px;
        margin-bottom: -100px;

        border: 3px solid red;
    }

}